<Jumbo>
    <h2>about Super Rentals</h2>
    <p> This is the Super Rentals website where we  can book property for our stay, this is made using the ember Js framework    </p>
    <LinkTo @route="contact" class='button'>Contact Us</LinkTo>

</Jumbo>
